<div class="grid-container">
  <app-title></app-title>
  <div class="main-container">
    <div class="main">
      <div class="border-img">
        <table>
          <tr *ngFor="let row of board">
            <td *ngFor="let f of row">
              <button
                [ngClass]="{
                  purple: f.owner == true,
                  green: f.owner == false,
                  invader: invader != undefined && f.id == invader.id,
                  invaded: invaded != undefined && f.id == invaded.id
                }"
                (click)="attack(f)"
                [disabled]="attackable(f)"
              >
                <app-field [field]="f"></app-field>
              </button>
            </td>
          </tr>
        </table>

        <div class="two-col">
          <p>Your points: {{ invaderPoints }}</p>
          <p>Enemy points: {{ enemyPoints }}</p>
        </div>
      </div>
      <div class="button">
        <button class="end-turn" (click)="endTurn()" [disabled]="isYourTurn()">
          <span>End turn</span>
        </button>
      </div>
    </div>
  </div>
</div>
