table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

td {
  width: 60px;
  height: 60px;
}

.purple {
  border: none;
  width: 60px;
  height: 60px;
  font-size: 20px;
  background-color: fuchsia;
}

.green {
  border: none;
  width: 60px;
  height: 60px;
  font-size: 20px;
  background-color: limegreen;
}

.invader {
  border: 3px solid red;
  background-color: black;
  color: white !important;
}

.invaded {
  border: 3px solid red;
}

button:disabled {
  color: #404040;
}

.grid-container {
  display: grid;
  grid-template-rows: 15% 85%;
  justify-items: center;
  width: 98vw;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: url("../../../assets/screenshot2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.main {
  grid-column-start: 2;
}

.border-img {
  margin: 100px 100px 50px 100px;
  border-image-slice: 36 36 36 36 fill;
  border-image-width: 20px 20px 20px 20px;
  border-image-outset: 50px 50px 50px 50px;
  border-image-source: url("../../../assets/keret_02.png");
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.end-turn {
  grid-column-start: 2;
  cursor: pointer;
  position: relative;
  padding: 1.2rem;
  border-radius: 3.75rem;
  border: 1px solid rgb(255, 94, 0);
  background-image: linear-gradient(-180deg, #ffbe33 0%, #ff7500 100%);
  box-shadow: 0 1rem 1.25rem 0 rgba(255, 102, 0, 0.877),
    0 -0.25rem 1.5rem rgba(254, 140, 0, 1) inset,
    0 0.75rem 0.5rem rgba(255, 185, 92, 0.4) inset,
    0 0.25rem 0.5rem 0 rgba(255, 163, 41, 1) inset;
}

.end-turn::before {
  content: "";
  display: block;
  height: 0.25rem;
  position: absolute;
  top: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 7.5rem);
  background: #fff;
  border-radius: 100%;
  opacity: 0.7;
  background-image: linear-gradient(
    -270deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 20%,
    #ffffff 80%,
    rgba(255, 255, 255, 0) 100%
  );
}

.end-turn::after {
  content: "";
  display: block;
  height: 0.25rem;
  position: absolute;
  bottom: 0.75rem;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 7.5rem);
  background: #fff;
  border-radius: 100%;

  filter: blur(1px);
  opacity: 0.05;
  background-image: linear-gradient(
    -270deg,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 20%,
    #ffffff 80%,
    rgba(255, 255, 255, 0) 100%
  );
}

.end-turn span {
  color: white;
  font-size: 2em;
  font-weight: bolder;
}

.end-turn:disabled {
  background-image: linear-gradient(-180deg, #e2b657 0%, #e78f41 100%);
}

.end-turn:hover {
  border: 2px solid rgb(255, 94, 0);
}
